<div class="ui clearing segment">
<table class="ui small selectable table">
  <thead>
    <tr>
      {{log "c" columns}}
      {{#each columns as |column|}}
      {{log column}}
      <th>{{column.name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
{{#each model as |item|}}
<tr {{action "goToLink" item}}>
  {{#each columns as |column|}}
  <td>
    {{log (get item column.labelColumn) }}
  {{#if column.hasLabel}}
  <div class="ui {{get item column.labelColumn}} tiny horizontal label">{{get item column.column}}</div>
  {{else}}
  {{get item column.column}}
  {{/if}}
  </td>
  {{/each}}
</tr>
{{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="9">
        <div class="ui right floated pagination mini menu">
          {{#if prev}}
            {{#link-to "tasks" (query-params page=model.meta.pagination.prev.page) class="icon item"}} <i class="left chevron icon"></i> {{/link-to}}
          {{else}}
            {{#link-to "tasks" (query-params page=model.meta.pagination.prev.page) disabled='true' class="icon item"}} <i class="disabled left chevron icon"></i> {{/link-to}}
          {{/if}}
          {{#if next}}
            {{#link-to "tasks" (query-params page=model.meta.pagination.next.page) class="icon item"}} <i class="right chevron icon"></i> {{/link-to}}
          {{else}}
            {{#link-to "tasks" (query-params page=model.meta.pagination.next.page) disabled='true' class="icon item"}} <i class="disabled right chevron icon"></i> {{/link-to}}
          {{/if}}
        </div>
      </th>
    </tr>
  </tfoot>
</table>
</div>