{{!-- The following component displays Ember's default welcome message. --}} {{!-- {{welcome-page}} --}} {{!-- Feel free
to remove this! --}}
<div id="main" className="App" role="main">
    {{task-menu}}
      {{outlet}}
</div> 

{{paper-toaster parent="#main"}}

{{!-- <div class="ui grid">
    <div class="row">
      <div class="column">
        {{task-menu}}
      </div>
    </div>
    <div class="row">
      <div class="column">
        {{outlet}}
      </div>
    </div>
  </div> --}}