{{outlet}}
{{#data-table
  content=model
  isLoading=isLoadingModel
  enableSizes=false
  filter=filter
  sort=sort
  page=page
  size=size
  onClickRow=(route-action "onClick")
  as |t|
}}
  {{#t.menu as |menu|}}
    {{#menu.general}}
      {{#paper-button onClick=(route-action "addScript") primary=true raised=true}}
        {{paper-icon "add-circle"}} Add Script
      {{/paper-button}}        
    {{/menu.general}}
  {{/t.menu}}
  {{#t.content as |c|}}
    {{#c.header}}
      <th>Status</th>
      <th>Name</th>
      <th>Command</th>
      <th>Options</th>
      <th>Team</th>
      <th>Type</th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>
        {{#paper-icon row.icon class=row.status}}
          {{#paper-tooltip position="right"}}
            {{row.status}}
          {{/paper-tooltip}}
        {{/paper-icon}}
      </td>
      <td>{{row.name}}</td>
      <td>{{row.cmd}}</td>
      <td>{{#each-in row.default_options as |key value|}} {{key}}: {{value}}, {{/each-in}}</td>
      <td>{{row.team.name}}</td>
      <td>{{row.type}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}