{{#data-table
  content=model
  isLoading=isLoadingModel
  enableSizes=false
  filter=filter
  sort=sort
  page=page
  size=size
  onClickRow=(route-action "onClick")
  as |t|
}}
{{log model.meta}}
  {{#t.content as |c|}}
    {{#c.header}}
      <th></th>
      <th>ID</th>
      <th>Title</th>
      <th>Script</th>
      <th>Queue</th>
      <th>Scheduled</th>
      <th>Run</th>
      <th>Team</th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>
        {{task-icon task=row}}
      </td>
      <td>{{row.id}}</td>
      <td>{{row.title}}</td>
      <td>{{row.script.name}}</td>
      <td>{{row.worker.name}}</td>
      <td>{{row.scheduled}}</td>
      <td>{{row.run}}</td>
      <td>{{row.script.team.name}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
